# [PUBPOL/ETHSTD C164A] 2. Table Manipulation Homework

**Estimated time:** 30 minutes

**Notebook developed by:** <br>
Team Lead: Skye Pickett  <br>
Fall 2022 Developers: Leah Hong, Emily Guo, Reynolds Zhang <br>
Summer 2022 Developers: Vaidehi Bulusu, Leah Hong, Drishti Gupta, Hans Ocampo <br>


### Learning Outcomes
- Understanding representations of data
- Reviewing object types
- Selecting, dropping, and relabelling columns
- Filtering data with .where
- Converting data types
- Calculating numerical statistics 


### Table of Contents
1. [Introducing the Dataset](#1.-Introducing-the-Dataset)
1. [Data Manipulation](#2.-Data-Manipulation)
1. [Conclusion](#3.-Conclusion)
1. [Submitting Your Work](#4.-Submitting-Your-Work)
1. [Data Science Opportunities](#5.-Data-Science-Opportunities)
1. [Feedback Form](#6.-Feedback-Form)

***

### Helpful Data Science Resources 
Here are some resources you can check out while doing this notebook and to explore table manipulation further!

- [DATA 8 Textbook](https://inferentialthinking.com/chapters/06/Tables.html) - Tables chapter
- [Reference Sheet for the datascience Module](http://data8.org/sp22/python-reference.html)
- [Documentation for the datascience Modules](http://data8.org/datascience/index.html)
- [Statistica: Find Data on Interesting Topics](https://www.statista.com/)
- [Exploratory Data Analysis](https://en.wikipedia.org/wiki/Exploratory_data_analysis)

### Peer Consulting

If you find yourself having trouble with any content in this notebook, Data Peer Consultants are an excellent resource! Click [here](https://dlab.berkeley.edu/training/frontdesk-info) to locate live help.

Peer Consultants are there to answer all data-related questions, whether it be about the content of this notebook, applications of data science in the world, or other data science courses offered at Berkeley.

---


# 1. Introducing the Dataset

Before we continue, run the bellow cell to import the necessary packages.

In [ ]:
# RUN THIS CELL
# importing the required packages

from datascience import *
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import otter
grader = otter.Notebook()
print("All necessary packages have been imported!")

The dataset comes from the [US Bureau of Labor Statistics](https://www.bls.gov/data/)' Occupational Employment and Wage Statistics from May 2021. The May 2021 OEWS estimates are based on the 2018 Standard Occupational Classification (SOC) system and the Office of Management and Budget's revised metropolitan area definitions, based on the results of the 2010 decennial census.

The data was collected from employers of every size, state, metropolitan/nonmetropolitan areas, and all industry sectors. However, self-employed people are not included in these surveys.

> `Table().read_table(...)`: allows you to import data as a table (takes in the name of the csv file as the argument)

In [ ]:
occupation_employ_wages = Table.read_table('Data/May2021Data.csv')
occupation_employ_wages.show(10)

Let's use `.labels` to view the column titles.

In [ ]:
occupation_employ_wages.labels

This data dictionary goes over what some of the column names mean in `occupation_employ_wages`.

| Column       | Column Description |
| ----------- | -----------       |
| AREA_TITLE  | area name         |
| AREA_TYPE   | 1= US, 2= State, 3= US Territory, 4= MSA/NECTA, 5= NonMetro|
| I_GROUP     | industry level    |
| OWN_CODE    | 1= Fed Gov, 2= State Gov, 3= Local Gov, 123= Fed/State/Local, 235= Private/State/Local, 35= Private/Local, 5= Private, 57/58/59= Other, 1235= Federal/State/Local/Private Sector               |
| OCC_CODE    | 6-digit SOC code for the occupation|
| OCC_TITLE    | SOC title or OEWS-specific title for the occupation|
| O_GROUP     | occupation level               |
| TOT_EMP     | estimated total employment (rounded; excludes self-employed)|
| EMP_PRSE    | percent relative standard error for employment estimate               |
| JOBS_1000   | the number of jobs in the given occupation per 1,000 (only for state and MSA estimates) |
| LOC_QUOTIENT     | the ratio of an occupation's share of employment in a given area to the US as a whole|
| PCT_TOTAL     | percent of industry in the given occupation (national industry only)|
| H_MEAN     | mean hourly wage               |
| A_MEAN     | mean annual wage               |
| MEAN_PRSE     | percent relative standard error for the mean wage estimate|
***

<!-- BEGIN QUESTION -->
<font color = #d14d0f>

#### Question 1:
What column should we look at to find the number of jobs in the given occupation (per 1000)?

*Type your answer here. Double-click to edit this cell. Run this cell to proceed when finished.*

<!-- END QUESTION -->
<!-- BEGIN QUESTION -->
<font color = #d14d0f>

#### Question 2:
What type of numbers is the H_MEAN column made up of?
    
*Hint: Review section 2.3 of the Introduction to Python and Jupyter Notebook for help. In this case, don't use a function and only look visually by scrolling up to the table and viewing the `H_MEAN` column.*
    
The options are:
* Float
* Integer

*Type your answer here. Double-click to edit this cell. Run this cell to proceed when finished.*

<br>
<!-- END QUESTION -->

We will later see that the `H_MEAN` column is actually storing these numbers at **strings**. They will later need to be converted into *[floats/integers] (your answer for Q2)* so understanding what type of numbers they are is still important.

***
# 2. Data Manipulation

Before we start our analysis, our table looks like it has plenty of information we do not need. In this next section, we will be cleaning our dataset to best fit our needs. This will consist of **selecting** what columns and rows we would like to explore, **removing** rows that we cannot utilize, and **changing** the types of the values in our table to make it easier to work with.

> **`Table.select("column_1", "column_2", ...)`**: makes a new table with all the selected columns from the original table  <br>

Run the cell below to select the most relevant columns on the table. Here we use the first function `select` in our first step in cleaning the data.

In [ ]:
# using the first method to create a new clean Table
new_occ_wages = occupation_employ_wages.select("AREA_TITLE", "AREA_TYPE", "I_GROUP", "OWN_CODE", "OCC_CODE", "OCC_TITLE", "O_GROUP", "TOT_EMP", "EMP_PRSE", "JOBS_1000", "LOC_QUOTIENT", "PCT_TOTAL", "H_MEAN", "A_MEAN", "MEAN_PRSE")
new_occ_wages.show(5)

<font color = #d14d0f>
<!-- BEGIN QUESTION -->
    
#### Question 3:
Looking at `new_occ_wages` in the cell above, we can see that the column `PCT_TOTAL` has only "nan" values. "nan" is a type of missing value. (This will be covered in more detail in a future notebook.) Thus, we want to drop it since it doesn't actually tell us any percent values.

   In the cell below, drop the `PCT_TOTAL` column.
    
 > **`Table.drop("column_1", "column_2", ...)`**: creates a new table *without* the indicated columns from the original table <br>

In [ ]:
new_occ_wages = ...
new_occ_wages

<br>
<!-- END QUESTION -->
<!-- BEGIN QUESTION -->
<font color = #d14d0f>

#### Question 4:
 Relabel the column `I_GROUP` to be called `Industry` so it is more informative.

> **`Table.relabeled(old_column_name, new_column_name)`**: Creates a new table, changing the column name specified by the old label to the new label, and leaves the original table unchanged.

In [ ]:
new_occ_wages = new_occ_wages.relabeled(...)
new_occ_wages.show(5)

<br>
<!-- END QUESTION -->
Let's look at a random row and make sure we understand what it means.

In [ ]:
new_occ_wages.take(0)

Each row represents an employer. Their area is where they are located and further details like TOT_EMP represent estimated total employment.

<br>

As you may have noticed, the dataset contains information on all states in the America. In this notebook, we want to look at occupational employment and wage statistics strictly in the state of **California**.

<!-- BEGIN QUESTION -->
<font color = #d14d0f>

#### Question 5:
   In the cell below, fill in the blanks to ensure that we keep data representing California only.
  >`.where`: filter a table based on the values of a particular column (see the `Table.where` Predicates section of the [Python reference](http://data8.org/sp22/python-reference.html) for the list of predicates you can use)

In [ ]:
# keeping areas that are only in California 
cali = new_occ_wages.where(..., ...)
cali.show(5)

<!-- END QUESTION -->
#### Removing Nonnumeric Values

While looking at the table, you also may have noticed that there are nonnumeric values in columns that have numeric values (See column `H_MEAN`). When computing values such as the mean of a column, we want to get rid of nonnumeric numbers that can interfere with the computation, such as * or #.

<!-- BEGIN QUESTION -->
<font color = #d14d0f>

#### Question 6: 
    
In the cell below, remove any rows that contain `*` or `#` in the `H_MEAN` column.
    
   *Hint: Look through the "Table.where Predicates" section of the linked reference sheet.*
>`.where`: filter a table based on the values of a particular column (see the `Table.where` Predicates section of the [Python reference](http://data8.org/sp22/python-reference.html) for the list of predicates you can use)

In [ ]:
# using the cali Table, we are getting rid of the two nonnumeric values * and #

cali_updated = cali.where("H_MEAN", ...).where("H_MEAN", ...)
cali_updated.show(5)

<!-- END QUESTION -->

We'll repeat a similar process to ensure that the column `JOBS_1000` is only numerical.

In [ ]:
# Run this cell
cali_updated = cali_updated.where("JOBS_1000", are.not_containing("*"))

#### Changing the Type of a Column

Sometimes, the type of a column may not be what we want. For instance, we cannot compute the mean of string values, so we would need to convert the type of the column to a float or int. 

First, let's see what the Object type the values of the `H_MEAN` (hourly wage) column is.

In [ ]:
temp_type = type(cali_updated.column("H_MEAN")[1])
temp_type

The type of the values in the `H_MEAN` column are strings instead of numerical values, or more specifically "floats". That means we will get an error when trying to compute statistical values of the column.

<!-- BEGIN QUESTION -->

<font color = #d14d0f>

#### Question 7: 
    
In the cell below, update the `H_MEAN` column values by changing their type into a float. Float objects represent real numbers and are written with a decimal point.

*Hint: Table["column_name"] = Table.column("column_name").astype(float)*

In [ ]:
cali_updated["H_MEAN"] = ...
cali_updated.column("H_MEAN")[0:10]

<br>
<!-- END QUESTION -->

Now that our data is cleaned, let's explore our new table, `cali_updated`!

#### Computing the Mean of a Column

<!-- BEGIN QUESTION -->

<font color = #d14d0f>

#### Question 8: 
   Let's say we want to get the mean hourly wage value for California. We already have our California dataset that has removed all the nonnumeric values in the H_MEAN column and changed the types to a float.
    
   **Compute the mean** of the California hourly wages. (Use `cali_updated`.)

In [ ]:
# hint: np.mean()

CA_mean_hr_wage = ...
CA_mean_hr_wage

Use the next cell to check your answer. If it returns True, your answer was correct. If it returns False, go back and check that you are using the right function for the right column.

In [ ]:
np.round(CA_mean_hr_wage, 2) == 35.66

<br>
<!-- END QUESTION -->
<!-- BEGIN QUESTION -->

<font color = #d14d0f>

#### Question 9: 
    
In the cell below, repeat what you did in Question 7 and update the `JOBS_1000` column values by changing the data's type into a float. Float objects represent real numbers and are written with a decimal point. (ie, 2.345 or 4.0)

*Hint: Table["column_name"] = Table.column("column_name").astype(float)*

In [ ]:
cali_updated["JOBS_1000"] = ...

# Now check the type of the "JOBS_1000" column

jobs1000_type = type(cali_updated.column("JOBS_1000")[0])
jobs1000_type

Use the cell below to check if you've properly converted the column. If it returns True, your answer is correct.

In [ ]:
jobs1000_type == np.float64

<br>
<!-- END QUESTION -->
<!-- BEGIN QUESTION -->

<font color = #d14d0f>

#### Question 10: 


If the number of jobs in the given **occupation per 1,000 is larger than 10**, the job can be counted as common job. Calculate the mean hourly wage of common jobs in California ***that have multiple titles/roles***. 
    
   *Hint: A job with multiple titles/roles contains the word "and" in the "OCC_TITLE" column.<br>
    ie) "Advertising and Promotions Managers"*
 
   We've split the filtering into 2 steps since there are two criteria listed above.<br>
   Step 1: Find all "common jobs". <br>
   Step 2: Find the common jobs with "multiple titles/roles".<br>
   Step 3: Find the mean of the hourly wage of these rows. <br>

In [ ]:
# STEP 1
common_jobs = cali_updated.where(...)
common_jobs

In [ ]:
# STEP 2
multiple_roles = common_jobs.where(...)
multiple_roles

In [ ]:
# STEP 3 -- be sure to take average of column in multiple_roles table as it's the most up to date
mean_wage = ...
mean_wage

Use the below cell to check your answer. If it returns True, your calculation was correct!

In [ ]:
np.round(mean_wage, 2) == 29.11

<!-- END QUESTION -->

***
# 3. Conclusion

Over the course of this notebook, you learned and practiced table manipulation techniques like `drop`, `select`, `relabel`, and `astype`. This gives you practice in manipulating data so that you can manipulate data based on your own ideas and hypotheses in the future. In the next notebook, you will build upon coding and quantitative skills you learned today by applying them to more detailed Labor Statistics data from the [US Bureau of Labor Statistics](https://www.bls.gov/data/). Great work!

### Congratulations! You have finished the notebook! ##

***
# 4. Submitting Your Work

**Make sure that you've answered all the questions.**

Follow these steps: 
1. Go to `File` in the menu bar, then select `Save and Checkpoint` (or click CTRL+S).
2. Go to `Cell` in the menu bar, then select `Run All`.
3. Click the link produced by the code cell below.
4. Submit the downloaded PDF on bCourses according to your professor's instructions.

**Note:** If clicking the link below doesn't work for you, don't worry! Simply click `File` in the menu, find `Download As`, and choose `PDF via LaTeX (.pdf)` to save a copy of your pdf onto your computer.

**Check the PDF before submitting and make sure all of your answers and any changes are shown.**

In [ ]:
#This may take a few extra seconds.
from otter.export import export_notebook
from IPython.display import display, HTML
export_notebook("2. Table Manipulation Homework.ipynb", filtering=True, pagebreaks=False)
display(HTML("<p style='font-size:20px'> <br>Save this notebook, then click <a href='2. Table Manipulation Homework.pdf' download>here</a> to open the pdf.<br></p>"))

***
# 5. Explore Data Science Opportunities

Interested in learning more about how to get involved in data science or learn about data science applications in your field of study? The following resources might help support your learning:

- Data Science Modules: http://data.berkeley.edu/education/modules
- Data Science Offerings at Berkeley: https://data.berkeley.edu/academics/undergraduate-programs/data-science-offerings
- Data 8 Course Information: http://data8.org/
- Data 100 Course Information: https://ds100.org/

***
# 6. Feedback Form

<div class="alert alert-info">
<b> We encourage students to fill out the following feedback form to share your experience with this Module notebook. This feedback form will take no longer than 5 minutes. At UC Berkeley Data Science Undergraduate Studies Modules, we appreciate all feedback to improve the learning of students and experience utilizing Jupyter Notebooks for Data Science Education: </b> 
</div>

# [UC Berkeley Data Science Feedback Form](https://forms.gle/hipxf2uFw5Ud4Hyn8)